# ================== 02-redis.yaml (Deployment) ==================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: distributetmusicapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
---
# ================== 02-redis.yaml (Service) ==================
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: distributetmusicapp
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
  type: ClusterIP
---